<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://cms.prod.nypr.digital/images/64767/fill-1200x650/);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <%= link_to "Make A Bookmark", new_list_bookmark_path(@list), class: 'btn btn-primary mt-2' %>
    <%= link_to "Back to Lists", lists_path, class: 'btn btn-success mt-2' %>
  </div>
</div>

<div class="container">
<% @list.bookmarks.each do |bookmark| %>
    <div class="card-product">
        <%= img src=@list.bookmarks %>
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.comment %></p>
        <%= link_to bookmark_path(bookmark), method: :delete, class: 'card-remove-link', data: { confirm: "Delete #{bookmark.movie.title}?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
