<div class="banner">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p><%= link_to "Back to lists", lists_path %></p>
    <p><%= link_to "Add a bookmark", new_list_bookmark_path(@list) %></p>
  </div>
</div>

<div class="container">
  <div class="cards mt-3">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
        <%= bookmark.movie.title %>
        <%= bookmark.comment %>
        <%= link_to bookmark_path(bookmark), method: :delete, class: 'card-remove-link', data: { confirm: "Delete #{bookmark.movie.title}?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
